
/* CustomUserBadges Support Server [Server ID (818960705255899178)] */
[aria-label*="Joshua's Palace"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("https://i.imgur.com/RnvRYPF.jpg") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

}

/*  My Twtich Server [Server ID (797173403505000539)] */
[aria-label*="RGWJ's Discord World"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("https://i.imgur.com/vzmkPqam.jpg") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

}

/*  My Mod Server [Server ID (DATA_NOT_FOUND)] */
[aria-label*="The Phantom Mods"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("https://i.imgur.com/sODWXO9m.png") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

}

/* KLWP Project Server [Server ID (390020191582683146)] */
[aria-label*="KLWP Project"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("https://i.imgur.com/uwTFn7K.png") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

}

/* Comfy Support Server [Server ID (811203761619337259)] */
[aria-label*="🎃 Spooky camp"], 
[aria-label*="Comfy camp"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("https://i.imgur.com/5PUPyAe.png") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

}

/* BorderShapes Support Server [Server ID (859835827877838868)] */
[aria-label*="BorderShapes"] {

	--BannerBG-Header-Height: 100px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("https://media.discordapp.net/attachments/861776833190821918/885558176630603796/Server-Invite-Background.png?width=767&height=431") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

}

/*  Pukima Community's Server [Server ID (782245108724400128)] */
[aria-label*="Pukima's Place"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("https://i.imgur.com/oXrPAM5.png") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

}

/*  Open Styles Server [Server ID (379521691774353408)]   */
[aria-label*="Open Styles"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("https://i.imgur.com/JMGpcyX.png") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

}

/*  GREEN GANG [REBORN]'s Server [Server ID (695983588709105684)]         */
[aria-label*="GREEN GANG [REBORN]"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("https://i.imgur.com/Kc6mSmn.jpg") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

}

/* New Banner Unknown */
[aria-label*="IsaacTown"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("https://i.imgur.com/B5NwEPm.png") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

}


/* Black Box [SERVER-ID](449175561529589761) */
[aria-label*="Black Box"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("http://i.picpar.com/BSwd.gif") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

}

/* Archcraft Support Servers */
[aria-label*="Archcraft"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 116px 16px 16px 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("https://i.imgur.com/c1eTK8b.png") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

}

/* Team Flashcord */
[aria-label*="Flashcord"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	/* Tehehe Don't Tell */
	--BannerBG-Server-Banner: url("https://i.imgur.com/D0F2m68.png") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

}

/* Otaku's Server */
[aria-label*="otaku's server"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 120px 16px 16px 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("https://media.discordapp.net/attachments/895843260419952741/896054385061298176/ezgif.com-gif-maker.png") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

}

/* Template Banner */
[aria-label*="BannerBG-Test-Banner"] {

	--BannerBG-Header-Height: 150px !important;
	--BannerBG-Header-Padding: 16px !important;
	--BannerBG-Header-Box-Shadow: none !important;

	--BannerBG-Server-Banner: url("") !important;
	--BannerBG-Server-Width: 100% !important;
	--BannerBG-Server-Height: 100% !important;
	--BannerBG-Server-Top: 0 !important;
	--BannerBG-Server-Left: 0 !important;
	--BannerBG-Server-Z-Index: -1 !important;
	--BannerBG-Server-Position: absolute !important;

}
