.container-YkUktl {
	background: none !important;
}

.panels-3wFtMD {
	background: none !important;
}

.scroller-1ox3I2 {
    contain: none;
}

.scroller-1ox3I2:before {
	-webkit-box-shadow: var(--elevation-top);
	background: var(--utility-header-color, var(--background-secondary));
	z-index: -1 !important;
	box-shadow: var(--elevation-top);
	content: ""; position: fixed;
	width: 240px; height: 53px;
	bottom: 0px; left: 72px; 
}
